doctype html
html
  head
    title= title
    link(href='/stylesheets/style.css', rel='stylesheet')

    script(src='https://www.gstatic.com/charts/loader.js', type='text/javascript')
    script(src='/javascripts/chart.js', type='text/javascript')    
    script(src='/javascripts/script.js', type='text/javascript')
  body
    div(id="parameters" style="visibility:hidden" start="#{start}" end="#{end}")

    .container
      .column1
        p История за период:
        input(id='dateStart',name='dateStart',type='datetime-local',onchange='dateChanged(this,value)') 
        input(id='dateEnd',name='dateEnd',type='datetime-local',onchange='dateChanged(this,value)')
        p
        a(id="dateForm" href="/#{start}-#{end}") Загрузить  
      .column2
        br
        a(href="/1") История за последний час 
        br
        br
        a(href="/24") История за сутки 
        br
        br
        a(href="/720") История за последний месяц
        br
        br
        a(href="/8760") История за последний год 
      .column3
        p Настройки:
        p alertTemp: #{settings.alertTemp}  
        p alertHumMin: #{settings.alertHumMin}
        p alertHumMax: #{settings.alertHumMax}
        p minSmsIntervalMinutes: #{settings.minSmsIntervalMinutes}
        p cronTime: #{settings.cronTime}
      .clear


    div(style="clear:both;")
    div(id="chart_div_temp")
    div(id="chart_div_hum")
